<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Show Page</title>
  </head>
  <body>
    <h1>Food Show Page</h1>
    <h2>Name: <%=Food.name %></h2>

    <% if (Food.isReadyToEat) { %>
    <p>This Food is ready to eat!</p>
    <% } else { %>
    <p>This Food is not ready to eat!</p>
    <% } %>

    <!-- form -> method=POST action=/Foods/<id>?_method=DELETE -->
    <!-- action attribute - directs the request to the URL path provided -->
    <!-- set type to method so methodOverride will check the request -->
    <!-- the endpoint for the request includes a query param string ?_method= -->
    <!-- the value provided with _method query param is DELETE -->
    <!-- methodOverride will automatically convert the POST to a DELETE before passing it to the correct routes -->

    <form method="POST" action="/Food/<%= Food._id%>?_method=DELETE">
      <button type="submit">Delete Food</button>
    </form>

    <!-- TODO - add a link to the edit - Foods/:id/edit -->
    <section>
      <a href="/Food/<%= Food._id%>/edit">Edit Food</a>
    </section>
  </body>
</html>